<footer class="footer font-14">
<div class="footer-top">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-4 col-xl-4">
<div class="footer-logo mb-3"><a href="/" title="{{ site.title }}"><img src="/images/logo.svg" alt=""></a></div> 
<div class="mb-3 footer-content">
<p>Wall Systems Supply is a trusted distributor of stucco, EIFS, insulation, waterproofing systems, and specialty construction products. For over 40 years, we’ve partnered with leading vendors to provide contractors and homeowners with the materials they need to build with confidence.</p> 
</div>
<div class="social">
<a href="https://www.facebook.com/wallsystemssupply" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> 
<a href="https://twitter.com/wallsystems" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> 
<a href="https://www.linkedin.com/company/wall-systems-supply/about/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> 
</div>
</div> 
<div class="col-md-6 col-lg-4 col-xl-3 ms-auto mt-4 mt-lg-0">
<div class="row gx-2">
<div class="col-6">
<h6>Quick Links</h6>
<ul class="menu">
<li><a href="/partners">Partners</a></li>
<li><a href="/locations">Locations</a></li>
<li><a href="#">Blog</a></li>
<li><a href="/about">About</a></li>
<li><a href="/catelog">Catalog</a></li>
</ul>
</div>
<div class="col-6">
<h6>Contact</h6>
<ul class="menu">
<li><a href="/contact">Contact Us</a></li>
<li><a href="#request-sample">Request a Sample</a></li>
</ul>
</div>  
</div> 
</div> 
<div class="col-md-6 col-lg-4 col-xl-3 ms-auto mt-4 mt-lg-0">
<div class="footer-contact">
<div class="item">
<div class="flex-shrink-0"><div class="icon"><img src="/images/theme-img/pin-white.svg" alt=""></div></div>
<div class="flex-grow-1">4140 Parker Rd. Allentown, New Mexico 31134</div>
</div> 
<div class="item">
<div class="flex-shrink-0"><div class="icon"><img src="/images/theme-img/email-white.svg" alt=""></div></div>
<div class="flex-grow-1"><a href="maito:sales@wallsystemsupply.com">sales@wallsystemsupply.com</a></div>
</div> 
<div class="item">
<div class="flex-shrink-0"><div class="icon"><img src="/images/theme-img/call-white.svg" alt=""></div></div>
<div class="flex-grow-1"><a href="tel:718-630-5300">718-630-5300</a></div>
</div>
</div>
</div> 
</div> 
</div> 
</div> 
<div class="footer-bottom">
<div class="container">
<div class="copyright"> © 2025 Wall Systems Supply. All Rights Reserved</div> 
<ul>
<li><a href="#">Privacy Policy</a></li> 
<li><a href="#">Terms  &amp; Conditions</a></li> 
</ul>
</div> 
</div>
</footer>
